variables:
  NUGET_PATH: 'C:\Nuget\nuget.exe'
  MSBUILD_PATH: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe'
  DEPLOY_FOLDER: '$CI_PROJECT_DIR\bin\Release\Publish\_PublishedWebsites\TestWebApplication'
  ARTIFACT_FOLDER: '$CI_PROJECT_DIR\ARTIFACT'
  UNZIPPED_ARTIFACT_FOLDER: '$CI_PROJECT_DIR\ARTIFACT\UNZIPPED-$CI_COMMIT_SHORT_SHA'
  VSTEST_PATH: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\CommonExtensions\Microsoft\TestWindow'
  UNITTEST_FOLDER: '$CI_PROJECT_DIR\..\TestWebApplication.Tests\bin\Release'

stages:
  - build
  - test
  - deploy

build_job:
  stage: build

  only:
    - branches
  script:
    - '& "$env:NUGET_PATH" restore'
    - '& "$env:MSBUILD_PATH" /p:Configuration=Release /clp:ErrorsOnly'
    - '& "$env:MSBUILD_PATH" $CI_PROJECT_DIR\TestWebApplication.csproj /p:DeployOnBuild=true /p:Configuration=Release /p:OutDir=$env:DEPLOY_FOLDER'
    - '& mkdir $env:ARTIFACT_FOLDER'
    - '& mkdir $env:$CI_PROJECT_DIR\$CI_PROJECT_NAME'
    - '& Compress-Archive -Path "$env:DEPLOY_FOLDER\*" -DestinationPath $env:ARTIFACT_FOLDER\commit-$CI_COMMIT_SHORT_SHA.zip -Update'
  artifacts:
    expire_in: 2 days
    paths:
    - '$env:ARTIFACT_FOLDER'

test_job:
  stage: test
  only:
    - branches
  script:
    - '& "$env:VSTEST_PATH\vstest.console.exe" "$env:UNITTEST_FOLDER\TestWebApplication.Tests.dll"'
  dependencies:
    - build_job

deploy_job:
  stage: deploy
  only:
    - branches
  script:
    - 'Expand-Archive -LiteralPath $env:ARTIFACT_FOLDER\commit-$CI_COMMIT_SHORT_SHA.zip -DestinationPath $env:UNZIPPED_ARTIFACT_FOLDER'
    - 'Remove-Item –path C:\inetpub\wwwroot\MatrixMVCCrud\* –recurse -force'
    - 'Copy-Item -Path "$env:UNZIPPED_ARTIFACT_FOLDER\_PublishedWebsites\TestWebApplication\*" -Destination "C:\inetpub\wwwroot\MatrixMVCCrud" -Recurse -Force'
    - 'C:\inetpub\wwwroot\siteRestart.ps1'
  dependencies:
    - build_job
    - test_job
#_PublishedWebsites\TestWebApplication
